.navbar{
  width: 100%;
  background-color: #003459;
}

.logo{
  margin: 0.5rem;
  width: 7%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:0 auto;
  height: 100%;
}

.content{
  display: flex;
  justify-content: space-between;
}
@media (max-width:800px) {
  .content{
    display: flex;
    flex-direction: column;
  }
}

.left_menu{
  display: flex;
  flex-direction: column;
  flex:2;
}
.left_menu h3{
  margin: 1rem;
}

.input{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input>textarea{
  width:60%;
  border: transparent;
  resize: none;
}
.font_input{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.font_input>p{
  margin-top: 0;
  margin-bottom: 1rem;
}
.font_input>input{
  min: 10;
  max: 144;
  width: 50%;
}

.art{
  flex: 3;
}

.layout{
  justify-content: center;
  align-items: center;
}

.canvas{
  margin-top: 2rem;
  width: 100%;
}

.photos{
  flex: 2;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #3d3d3d;
  margin: 1rem;
}

.github{
  width: 2.5rem;
  margin-right: 1rem;
}

.footer img{
  border-radius: 50%;
}
